h1 {
    color: blue
}

* {
    border: dashed
}

.header {
    display: flex;
    justify-content: space-between;
}

.headd {
    display: flex;
    justify-content: center;
}

.unknown {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.footer {
    display: flex;
    justify-content: flex-end;
}

p {
    text-align: center;
}